{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>远程康复诊疗系统</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <!--    <link rel="stylesheet" href="css/fontawesome.min.css" />-->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}" />
    <!-- https://fontawesome.com/ -->
<!--    <link rel="stylesheet" href="css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- https://getbootstrap.com/ -->
<!--    <link rel="stylesheet" href="css/templatemo-style.css">-->
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
    <style>
    .buju{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    }
    .buju1{
    font-size: 1.1rem;
    justify-content: space-evenly;
    font-weight: 100;
    color: #fff;
    display: flex;
    position: relative;
    margin: 20px;
    flex-direction: row-reverse;
    }
    .buju2{
    font-size: 1.1rem;
    justify-content: space-between;
    font-weight: 100;
    color: #fff;
    display: flex;
    position: relative;
    margin: 20px;
    flex-direction: row-reverse;
    }
    .button {
    position: relative;
    background-color: #00b1ffd9;
	border:2px solid #00b1ffd9;
    border-radius:10px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 4px 2px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #a9a9a9;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
    </style>
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
<!--                <a class="navbar-brand">-->
                <a class="navbar-brand" href="index.html">
                    <h1 class="tm-site-title mb-0">远程康复训练系统</h1>
<!--                    <h1 >Product Admin</h1>-->
                </a>
<!--                右上角下拉选择-->
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                                Dashboard
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-file-alt"></i>
                                <span>
                                    Reports <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Daily Report</a>
                                <a class="dropdown-item" href="#">Weekly Report</a>
                                <a class="dropdown-item" href="#">Yearly Report</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="products.html">
                                <i class="fas fa-shopping-cart"></i>
                                Products
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="accounts.html">
                                <i class="far fa-user"></i>
                                Accounts
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cog"></i>
                                <span>
                                    Settings <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">Billing</a>
                                <a class="dropdown-item" href="#">Customize</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="login.html">
                                Admin, <b>Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container">
            <div class="buju2">

                <div class="buju">
                    <p class="text-white mt-5 mb-5">
                        <a class="text-white mt-5 mb-5" href="/login/">退出</a>
                    </p>
                </div>
                <div class="buju">
                    <p class="text-white mt-5 mb-5">欢迎, <b>亲爱的{{username}}</b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block" style="text-align: center">
                        <h2 class="tm-block-title">今日训练方案</h2>
                        <br>
                        <br>
                        <div class="buju1">
                            <div>
                                <h2 class="buju">动作一</h2>
                                <h2 class="buju">动作二</h2>
                            </div>
                            <div>
                                <h2 class="buju">动作三</h2>
                                <h2 class="buju">动作四</h2>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <a class="buju" href="#">
                            <h1 class="button">开始训练</h1>
                        </a>
                    </div>
                </div>
<!--                        <canvas id="lineChart"></canvas>-->

                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block">
                        <h2 class="tm-block-title">历史训练数据</h2>
<!--                    <canvas id="barChart"></canvas>&ndash;&gt;-->
                        <div class="tm-notification-items">
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>{{username}}</b>
                                        <span class="tm-small tm-text-color-secondary">2023.7.12</span>
                                        <a href="/chakan_user?name={{username}}" class="tm-notification-link">查看详情。</a>
                                    </p>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Oliver Too</b> and <b>6 others</b>
                                        sent you existing
                                        <a href="#" class="tm-notification-link">product updates</a>. Read more reports.
                                    </p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">order updates</a>. Read order information.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                            <div class="media tm-notification-item">
                                <div class="media-body">
                                    <p class="mb-2"><b>Victoria</b> and <b>6 others</b> sent you <a href="#"
                                            class="tm-notification-link">order updates</a>. Read order information.</p>
                                    <span class="tm-small tm-text-color-secondary">6h ago.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    远程康复诊疗系统.
<!--                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>-->
                </p>
            </div>
        </footer>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tooplate-scripts.js' %}"></script>

    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart,
        barChart, pieChart;
        // DOM is ready
        $(function () {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart

            $(window).resize(function () {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
</body>

</html>